.button {
    background-color: blueviolet;
    padding: 1rem 2rem;
    border: none;
    border-radius: .25rem;
    color: white;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;

    &:hover {
        filter: brightness(110%);
    }
}